/* GO Brand Theme */

@font-face {
    font-family: DINNextLTPro;
    src: url("DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: DINNextLTPro;
    font-weight: bold;
    src: url("DINNextLTPro-Bold.otf") format("opentype");
}

body {
    font-family: "DINNextLTPro","Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.wy-side-nav-search {
    background-color: #101a5c;
    border-bottom: solid #FF8400;
}

.wy-side-nav-search>a {
    padding: 0;
    margin-bottom: 0;
}

.wy-side-nav-search>a img.logo {
    background-color: #101a5c;
}

.wy-nav-side, .wy-nav-top {
    background-color: #101a5c;
    color: #84879c;
}

.rst-versions {
    background-color: #101a5c;
}

.rst-versions .rst-current-version {
    background-color: #102a92;
    color: #FF8400;
}

/* Collapsible blocks */

.toggle .header {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* Mermaid diagrams */

.mermaid .node-success > rect {
    fill: lightgreen;
}

.mermaid .node-failure > rect {
    fill: yellow;
}

/* Warning for old / development versions */

.scv-banner {
    background-color: #d40;
    font-size: 100%;
    font-weight: bold;
}
